
eureka:
  instance:
    prefer-ip-address: true
  client:
    registry-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_SERVER_ADDRESS:http://localhost:8761/eureka}
  server:
    peer-node-read-timeout-ms: 10000
    max-attempts: 10
    multiplier: 1.5
